#home {
    background-image: url('../assets/LunarTears.png');
    background-attachment: fixed; 
    background-position: top center; 
    background-size: cover; 
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(40px);
  }
}

.fade-in-up {
  animation: fadeInUp 1.2s ease-out forwards;
}

.fade-out-down {
  animation: fadeOutDown 1.2s ease-out forwards;
}

@media (max-width: 768px) {
  #home {
    background-attachment: scroll;
  }
}
