.nav-image {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 130px;
  height: 130px;
  object-fit: contain;
  pointer-events: none;
}

/* Round the corners of the hamburger icon */
.navbar-toggler-icon {
    background-color: #0096FF;        /* Color */
    border-radius: 2px;            /* Adjust the value to make corners rounder */
}
